<!-- <div>Value from parent {{myCount}}</div>
<app-hello-world [(count)]="myCount"></app-hello-world>


<app-task-list></app-task-list>


<app-templateform></app-templateform>


<app-react-form></app-react-form>


<app-pipes-demo></app-pipes-demo> -->


<ul>
    <li>
        <a [routerLink]="['home']">Home</a>

    </li>
    <li>
        <a [routerLink]="['/tasks/home']">Task home</a>

    </li>
    <li>
        <a routerLink="tasks">Tasks</a>
    </li>
    <li>
        <a [routerLink]="['pipes',20,30,{x:10}]">pipes</a>
    </li>
</ul>

<router-outlet></router-outlet>